TMA1/part1/resume.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="resume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="introduction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="city" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="contactno" type="xs:unsignedLong" />
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="linkedin" type="xs:string" />
                            <xs:element name="github" type="xs:string" />
                            <xs:element name="website" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="work">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="position">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string" />
                                        <xs:element name="company" type="xs:string" />
                                        <xs:element name="date" type="xs:string" />
                                        <xs:element name="description">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="task1" type="xs:string" />
                                                    <xs:element name="task2" type="xs:string" />
                                                    <xs:element name="task3" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="skills">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="programming" type="xs:string" />
                            <xs:element name="framework" type="xs:string" />
                            <xs:element name="technologies" type="xs:string" />
                            <xs:element name="sectools" type="xs:string" />
                            <xs:element name="interests" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="projects">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="project">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="language" type="xs:string" />
                                        <xs:element name="content" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="education">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="degree" type="xs:string" />
                            <xs:element name="date" type="xs:string" />
                            <xs:element name="minor" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>